.dashboard{
  padding: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gray;
  font-weight: 1000;
  display: flex;
  flex-direction: column;
}


.board-card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    border-radius: 10px;

       

}

.board-card {
    width: 14.5vw;
    height: 9.1vw;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    z-index: 1;
  }

  .board-card-btn{
    z-index: 1;
  }
  .board-card .board-card-btn{
    visibility: hidden;
  }

  .board-card:hover .board-card-btn{
    visibility: visible;
  }



 
  .board-card-overlay {
    width: 100%;
    height: 100%;
    background: rgba(151, 151, 151, 0.205);
    border-radius: inherit;
    position: absolute;
  }


  .board-card-overlay:hover {
    background-color: rgba(192, 192, 192, 0.205);
  }


  .board-card-btn{
    z-index: 1;
    position: absolute;
    margin: 10%;
    top:0;
    right:0;
    background: none;
    border: none;
    color: rgb(241, 241, 241);
  }

  .board-card-btn:hover{
    transform: scale(1.5);
    color: white;
  }


  .board-card-text {
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10%;
    font-size: 20px;
    z-index: 1;
  }

.Picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}

.Picture:hover{
    opacity: 0.5;
}
.PictureGrid {
    padding: 10px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;

}



.add-board-btn{
  width: 14.5vw;
  height: 9.1vw;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  border-radius: 5px;
  background-color: rgba(226, 226, 226);
  border: none;
  z-index: 1;

}



.add-board-btn:hover{
  background-color: rgba(189, 189, 189);

}



.SVGBoard{
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}


.Page{
  transition: transform 0.5s, fill 0.5s;
  transform-origin: center;
  transform-box: fill-box;
}

.Page:hover{
  transform: scale(1.2);
  fill: rgb(73, 250, 67);

}



